const { Client } = require('@elastic/elasticsearch');
const client = new Client({ node: 'http://localhost:9200' });

setInterval(async () => {
  await client.index({
    index: 'logs',
    body: {
      timestamp: new Date(),
      message: "Log message",
    }
  });

  console.log("Log enviado a Elasticsearch.");
}, 5000);

